* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background-color: blueviolet;
}

.logo {
    text-align: center;
}

.logo img {
    margin: 10px;
    width: 50px;
    border-radius: 50px;
}



h1 {
    background-color: white;
    margin: 20px;
    border: 3px solid black;
    text-align: center;
}
b{
    color: blueviolet;
}

.container {
    display: flex;
    text-align: center;
    justify-content: center;

}

.container h2 {

    margin: 15px;
}

.container img {
    width: 40px;
}